In [3]:
# import packages 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import os 
import sys
import seaborn as sns
import scipy as sp
import scipy.stats as stats
from scipy.stats import norm
import xgboost
%matplotlib inline


# import pre-processing modules 
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel 
from sklearn.compose import make_column_selector as selector
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline


# import classifiers
# scale robust
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

# scale sensitive
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC

# import evaluation modules
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report

In [4]:
test_set = pd.read_csv(r"C:/Users/Yehonatan/PycharmProject/DS/projects/titanic/ignore/test.csv")
train_set = pd.read_csv(r"C:/Users/Yehonatan/PycharmProject/DS/projects/titanic/ignore/train.csv")
df_original = pd.concat([train_set,test_set], axis=0, ignore_index=True )

df_train = (train_set.copy()).rename(columns=str.lower)
df_test = (test_set.copy()).rename(columns=str.lower)

df = (df_original.copy()).rename(columns=str.lower)

In [18]:
cabin = df['cabin']
cabin_nan = df[df['cabin'].isna()]
print('df  cabin nans',df['cabin'].isna().sum())
pd.set_option('display.max_rows', len(df))
df.sort_values(by=['fare'],ascending=False)

df  cabin nans 1014

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
258,259,1.0,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
679,680,1.0,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
1234,1235,NaN,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.00,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1.0,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
341,342,1.0,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
944,945,NaN,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
27,28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
88,89,1.0,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
438,439,0.0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
960,961,NaN,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
950,951,NaN,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
955,956,NaN,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
1033,1034,NaN,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
915,916,NaN,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
742,743,1.0,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
311,312,1.0,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
1266,1267,NaN,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C
118,119,0.0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
1075,1076,NaN,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
299,300,1.0,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
1093,1094,NaN,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
557,558,0.0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
380,381,1.0,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
700,701,1.0,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
716,717,1.0,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
1005,1006,NaN,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
527,528,0.0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
1047,1048,NaN,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
972,973,NaN,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
1109,1110,NaN,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
965,966,NaN,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
966,967,NaN,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.00,1,1,113503,211.5000,C80,C
377,378,0.0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
730,731,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
779,780,1.0,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
1215,1216,NaN,1,"Kreuchen, Miss. Emilie",female,39.00,0,0,24160,211.3375,NaN,S
689,690,1.0,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
1291,1292,NaN,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S
856,857,1.0,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
318,319,1.0,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
1108,1109,NaN,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
609,610,1.0,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
332,333,0.0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
268,269,1.0,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.00,0,1,PC 17582,153.4625,C125,S
1032,1033,NaN,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
297,298,0.0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
708,709,1.0,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
305,306,1.0,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
498,499,0.0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
1197,1198,NaN,1,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
31,32,1.0,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
195,196,1.0,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
1207,1208,NaN,1,"Spencer, Mr. William Augustus",male,57.00,1,0,PC 17569,146.5208,B78,C
1163,1164,NaN,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.00,1,0,13508,136.7792,C89,C
1143,1144,NaN,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
325,326,1.0,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
269,270,1.0,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
373,374,0.0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
1205,1206,NaN,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.00,0,0,PC 17760,135.6333,C32,C
1262,1263,NaN,1,"Wilson, Miss. Helen Alice",female,31.00,0,0,16966,134.5000,E39 E41,C
319,320,1.0,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C
1133,1134,NaN,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
1087,1088,NaN,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
337,338,1.0,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
660,661,1.0,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
334,335,1.0,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
435,436,1.0,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
763,764,1.0,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S
390,391,1.0,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
802,803,1.0,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
215,216,1.0,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
393,394,1.0,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
659,660,0.0,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
306,307,1.0,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
698,699,0.0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
581,582,1.0,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.00,1,1,17421,110.8833,C68,C
550,551,1.0,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C105,C
505,506,0.0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
307,308,1.0,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
544,545,0.0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
1130,1131,NaN,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
537,538,1.0,1,"LeRoy, Miss. Bertha",female,30.00,0,0,PC 17761,106.4250,NaN,C
1199,1200,NaN,1,"Hays, Mr. Charles Melville",male,55.00,1,1,12749,93.5000,B69,S
1281,1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.00,0,0,12749,93.5000,B24,S
820,821,1.0,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.00,1,1,12749,93.5000,B69,S
520,521,1.0,1,"Perreault, Miss. Anne",female,30.00,0,0,12749,93.5000,B73,S
291,292,1.0,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C
484,485,1.0,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
486,487,1.0,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.00,1,0,19943,90.0000,C93,S
1302,1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00,1,0,19928,90.0000,C78,Q
245,246,0.0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
412,413,1.0,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
224,225,1.0,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
453,454,1.0,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C
849,850,1.0,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
257,258,1.0,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
759,760,1.0,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.00,0,0,110152,86.5000,B77,S
504,505,1.0,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
230,231,1.0,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
62,63,0.0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
310,311,1.0,1,"Hays, Miss. Margaret Bechstein",female,24.00,0,0,11767,83.1583,C54,C
1072,1073,NaN,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
1041,1042,NaN,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
1070,1071,NaN,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
835,836,1.0,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
879,880,1.0,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C
903,904,NaN,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
1178,1179,NaN,1,"Snyder, Mr. John Pillsbury",male,24.00,1,0,21228,82.2667,B45,S
34,35,0.0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
375,376,1.0,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,NaN,C
1265,1266,NaN,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.00,1,1,33638,81.8583,A34,S
1184,1185,NaN,1,"Dodge, Dr. Washington",male,53.00,1,1,33638,81.8583,A34,S
445,446,1.0,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
829,830,1.0,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
61,62,1.0,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
262,263,0.0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
585,586,1.0,1,"Taussig, Miss. Ruth",female,18.00,0,2,110413,79.6500,E68,S
558,559,1.0,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.00,1,1,110413,79.6500,E67,S
1288,1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.00,1,1,13567,79.2000,B41,C
139,140,0.0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
1218,1219,NaN,1,"Rosenshine, Mr. George (Mr George Thorne"")""",male,46.00,0,0,PC 17585,79.2000,NaN,C
789,790,0.0,1,"Guggenheim, Mr. Benjamin",male,46.00,0,0,PC 17593,79.2000,B82 B84,C
256,257,1.0,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
587,588,1.0,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C
741,742,0.0,1,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S
290,291,1.0,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
987,988,NaN,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
496,497,1.0,1,"Eustis, Miss. Elizabeth Mussey",female,54.00,1,0,36947,78.2667,D20,C
591,592,1.0,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C
627,628,1.0,1,"Longley, Miss. Gretchen Fiske",female,21.00,0,0,13502,77.9583,D9,S
765,766,1.0,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.00,1,0,13502,77.9583,D11,S
275,276,1.0,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S
124,125,0.0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
102,103,0.0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
645,646,1.0,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
52,53,1.0,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
681,682,1.0,1,"Hassab, Mr. Hammad",male,27.00,0,0,PC 17572,76.7292,D49,C
218,219,1.0,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
939,940,NaN,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
1127,1128,NaN,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
366,367,1.0,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.00,1,0,110813,75.2500,D37,C
1009,1010,NaN,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
1161,1162,NaN,1,"McCaffry, Mr. Thomas Francis",male,46.00,0,0,13050,75.2417,C6,C
385,386,0.0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
1103,1104,NaN,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
655,656,0.0,2,"Hickman, Mr. Leonard Mark",male,24.00,2,0,S.O.C. 14879,73.5000,NaN,S
665,666,0.0,2,"Hickman, Mr. Lewis",male,32.00,2,0,S.O.C. 14879,73.5000,NaN,S
72,73,0.0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
120,121,0.0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
1243,1244,NaN,2,"Dibden, Mr. William",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
1125,1126,NaN,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
540,541,1.0,1,"Crosby, Miss. Harriet R",female,36.00,0,2,WE/P 5735,71.0000,B22,S
745,746,0.0,1,"Crosby, Capt. Edward Gifford",male,70.00,1,1,WE/P 5735,71.0000,B22,S
1251,1252,NaN,3,"Sage, Master. William Henry",male,14.50,8,2,CA. 2343,69.5500,NaN,S
201,202,0.0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
863,864,0.0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
846,847,0.0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
1079,1080,NaN,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
159,160,0.0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
180,181,0.0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
1256,1257,NaN,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,S
1233,1234,NaN,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
792,793,0.0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S
324,325,0.0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
369,370,1.0,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
641,642,1.0,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
151,152,1.0,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
336,337,0.0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
754,755,1.0,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.00,1,2,220845,65.0000,NaN,S
1276,1277,NaN,2,"Herman, Miss. Kate",female,24.00,1,2,220845,65.0000,NaN,S
615,616,1.0,2,"Herman, Miss. Alice",female,24.00,1,2,220845,65.0000,NaN,S
1244,1245,NaN,2,"Herman, Mr. Samuel",male,49.00,1,2,220845,65.0000,NaN,S
1121,1122,NaN,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
97,98,1.0,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
1241,1242,NaN,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.00,0,1,PC 17759,63.3583,D10 D12,C
917,918,NaN,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
54,55,0.0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
914,915,NaN,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
155,156,0.0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
92,93,0.0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
905,906,NaN,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
941,942,NaN,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
1286,1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00,1,0,13695,60.0000,C31,S
513,514,1.0,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.00,1,0,PC 17603,59.4000,NaN,C
1259,1260,NaN,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.00,0,1,112378,59.4000,NaN,C
911,912,NaN,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
1293,1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.00,0,1,112378,59.4000,NaN,C
329,330,1.0,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
523,524,1.0,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.00,0,1,111361,57.9792,B18,C
1013,1014,NaN,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
925,926,NaN,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
690,691,1.0,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S
781,782,1.0,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
599,600,1.0,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
309,310,1.0,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C
692,693,1.0,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
74,75,1.0,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
169,170,0.0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
643,644,1.0,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
509,510,1.0,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
930,931,NaN,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
838,839,1.0,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
826,827,0.0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
434,435,0.0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
577,578,1.0,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.00,1,0,13507,55.9000,E44,S
1255,1256,NaN,1,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.00,1,0,11765,55.4417,E50,C
370,371,1.0,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C
1068,1069,NaN,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
991,992,NaN,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
166,167,1.0,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
356,357,1.0,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
137,138,0.0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
1073,1074,NaN,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
748,749,0.0,1,"Marvin, Mr. Daniel Warner",male,19.00,1,0,113773,53.1000,D30,S
809,810,1.0,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S
724,725,1.0,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
871,872,1.0,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
935,936,NaN,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
248,249,1.0,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
621,622,1.0,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S
712,713,1.0,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
671,672,0.0,1,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S
35,36,0.0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
383,384,1.0,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.00,1,0,113789,52.0000,NaN,S
475,476,0.0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S
110,111,0.0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S

In [19]:
robert = df[df['ticket']=='PC 17611']
robert

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
334,335,1.0,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.65,NaN,S
660,661,1.0,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.65,NaN,S

In [ ]:
# need to check fare price and cabin .
# single man were staying at the front and single women and families at the back
# the ship sank at night so the cabins are critical 
# can divide into